html, body, div, span, ul, li, nav, header, footer, code, pre, p, h1, h2, h3, h4, h5, h6, form, input{
  font-size: 65%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "PingFang SC","Helvetica Neue","Helvetica","Hiragino Sans GB","Arial","Verdana","Microsoft Yahei";
  line-height: 1.6;
}
html, body{
  height: 100%;
}
a {
  color: rgba(0, 0, 0, .85);
  text-decoration: none;
  transition: color .3s ease-in-out;
}
a:hover {
  color: rgba(0, 0, 0, .65);
}
p{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, .65);
  line-height: 1.8;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

/* headerNav */

.p-header ,
.p-header .p-nav ,
.p-header .reg_btn{
  height: 60px;
  line-height: 60px;
  font-size: 1.4rem;
}
.p-header{
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.p-header .p-nav{
  display: inline-block;
}
.p-header .p-nav a:hover {
  background-color: rgba(0, 0, 0, .05);
}
.p-header .p-nav a {
  display: block;
  width: 80px;
  text-align: center;
  height: 100%;
  border-radius: 2px;
  float: left;
  list-style: none;
  transition: all .3s ease-in-out;
}
.p-header .reg_btn{
  display: inline-block;
  float: right;
}
.p-header .reg_btn > a{
  display: inline-block;
  cursor: pointer;
}
.p-header .reg_btn > span{
  display: inline-block;
  margin: 0 10px;
}
.w_form{
  display: block;
  width: 600px;
  background-color: #fff;
  padding: 50px;
  border-radius: 5px;
}
.w_form .w_input,
.w_form > label > input{
  outline: none;
  transition: border .3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, .15);
  height: 40px;
  line-height: 40px;
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
}
.w_form > label{
  position: relative;
  display: block;
  margin: 20px auto;
}
.w_form > label > span{
  color: rgba(0, 0, 0, .65);
  height: 20px;
  top: -10px;
  left: 15px;
  background-color: #fff;
  position: absolute;
}
.w_form .w_input:focus,
.w_form > label > input:focus{
  border: 1px solid rgba(0, 0, 0, .8);
}
.w_form > .file > input[type="file"]{
  width: 0;
  height: 0;
  opacity: 0;
}
.w_form > .file > span{
  position: static;
  display: none;
}
.w_reg_box > .file{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin: auto;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .15);
}
.w-inp-outline{
  outline: none;
  border: 1px solid rgba(0, 0, 0, .65);
}
.w-btn{
  padding: 10px 15px;
  margin: 0;
  background-color: rgb(65, 198, 163);
  border: none;
  color: #fff;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  transition: background-color ease .3s;
}
.w-btn:hover{
  background-color: rgba(65, 198, 163, .8);
}
.w_popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .2s linear;
}
.w_popup_show{
  opacity: 1;
  visibility: visible;
}
.w_popup > *{
  margin: auto;
}
.w_popup .close{
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 2rem;
}
/**
 * common loading style
 */

.w-loading-warp{
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .2s linear;
}
@keyframes changeHeight{
  0% {
    height: 100%;
  }
  25% {
    height: 70%;
  }
  50% {
    height: 40%;
  }
  75% {
    height: 70%;
  }
  100% {
    height: 100%;
  }
}
.w-loading{
  width: 120px;
  height: 60px;
  margin: auto;
  display: flex;
}
.w-loading > span{
  display: inline-block;
  width: 30px;
  margin: auto;
  height: 100%;
  border-radius: 2px;
  background-color: rgb(206, 206, 206);
}
.w-loading > .w-loading-f{
  animation: changeHeight 1.2s 0s infinite linear;
}
.w-loading > .w-loading-s{
  animation: changeHeight 1.2s .4s infinite linear;
}
.w-loading > .w-loading-t{
  animation: changeHeight 1.2s .8s infinite linear;
}
.w-loading-show{
  visibility: visible;
  opacity: 1;
}
/**
 * post list style
 */
.post-list{
  width: 1112px;
  margin: 30px auto;
}
.post-list .post-item{
  width: 760px;
  margin: 0;
  margin-right: 12px;
  padding: 35px 0;
  transition: border-bottom ease .3s;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}
.post-list .post-item:hover{
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}
.post-list .post-item > h3{
  font-weight: bold;
  margin: 10px 0;
  padding: 0;
  font-size: 2.6rem;
}
.post-list .post-item > a > .image{
  display: block;
  width: 100%;
  height: 260px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 1px;
  transition: opacity ease .3s;
}
.post-list .post-item > .image:hover{
  opacity: .8;
}

.top-info{
  height: 320px;
  background-color: rgba(0, 0, 0, .02);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.top-info > div{
  width: 1112px;
  margin: 0 auto;
  padding: 80px 0;
}
.categorie-info > div > div > h3{
  font-size: 3.2rem;
  color: rgba(0, 0, 0, .65);
  margin-bottom: 35px;
  display: inline-block;
  margin-right: 5px;
}
.categorie-info > div > p{
  line-height: 1.8;
  color: rgba(0, 0, 0, .65);
}
/**
 * home-post style
 */
.home-post-list{

}
.post_next{
  width: 1112px;
  margin: 30px auto;
}
.post_next > span{
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .65);
}
/**
 * post-item style
 */
.post-wrap > div.post-content{
  width: 1112px;
  margin: 80px auto;
}
.post-wrap > div.post-content *{
  font-size: 1.6rem;
}
.post-wrap > div.post-content p{
  margin: 20px 0;
  text-align: justify;
}
.post-wrap > div.post-content img{
  display: block;
  max-width: 100%;
  height: auto;
  margin: 50px auto;
}
.post-wrap > .post-info > div{
  width: 1112px;
  margin: 0 auto;
}
.post-wrap > .post-info > div > h3{
  font-size: 3.2rem;
  text-align: center;
}
.post-wrap > .image-info *{
  color: #fff;
}
.post-info > div > p{
  padding: 20px 0;
  text-align: justify;
}
.comment-warp{
  width: 1112px;
  margin: 50px auto;
}
.comment-info{
  font-size: 1.8rem;
}
.comment-item{
  margin: 20px 0;
}
.comment-item > span{
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 10px;
}
.comment-item > span > i{
  font-size: 1rem;
}
.comment-item p{
  font-size: 1.4rem;
}
.comment-reply{
  margin-left: 40px;
}
.comment-reply > span{
  font-size: 1.6rem;
}
.comment-create{
  margin: 20px 0;
}
.comment-create > label{
  display: table;
  margin: 20px 0;
}
.comment-create > label > input,
.comment-create > label > textarea{
  outline: none;
  border: 1px solid rgba(0, 0, 0, .15);
  transition: border ease .3s;
  border-radius: 3px;
  padding: 5px 10px;
}
.comment-create > label > input:focus,
.comment-create > label > textarea:focus{
  border: 1px solid rgba(0, 0, 0, .65);
}
.comment-create > label > input{
  width: 260px;
}
.comment-create > label > span{
  vertical-align: top;
  line-height: 27px;
}
.comment-create > label > textarea{
  width: 400px;
  height: 80px;
}
.comment-create .w-btn{
  margin-left: 36px;
}
.p-footer{
  border-top: 1px solid rgba(0, 0, 0, .15);
  padding: 60px 0;
  margin-top: 80px;
}
.p-footer > div{
  width: 1112px;
  margin: auto;
}

/**
 * 上传页面
 */

.up-wrap{
  margin: 50px auto;
  width: 1112px;
}

.upfile_form{
  width: 600px;
  margin: auto;
}
.upfile_form > label{
  display: block;
  width: 100%;
  margin: 15px auto;
}
.upfile_form > label > input{
  width: 100%;
  /*margin-left: 110px;*/
}
.upfile_form > label > span{
  position: absolute;
}
.upfile_form > .file > input{
  width: 0;
  height: 0;
  opacity: 0;
}
.upfile_form > .file > span{
  position: static;
  display: block;
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 70px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 2rem;
  color: rgba(0, 0, 0, .65);
  border: 5px dotted rgba(0, 0, 0, .15);
}
@media screen and (max-width: 980px){
  .home .post-list{
    margin: 0;
    width: 100%;
  }
  .home .post-list .post-item{
    padding: 20px 0;
    width: 100%;
  }
  .home .post-list .post-item h3{
    font-size: 1.4rem;
  }
  .home .post-list .post-item a{
    padding: 0;
  }
  .home .post-list .post-item > *{
    padding: 0 10px;
  }
  .post_next{
    width: 100%;
    margin: 30px auto;
  }
  .post-wrap > div.post-content,
  .post-wrap .post-info > div,
  .post-wrap .comment-warp{
    width: 100%;
    padding: 0 10px;
  }
  .post-wrap .post-info{
    height: 240px;
  }
  .post-wrap .post-info > div > h3{
    font-size: 2.4rem;
    padding: 40px 0;
  }
  .post-wrap > div.post-content *{
    font-size: 1.4rem;
    line-height: 1.6;
  }
  .comment-create > label > textarea{
    width: 300px;
  }
  .p-footer{
    width: 100%;
    margin-top: 20px;
  }
  .p-footer > div{
    width: 100%;
    padding: 0 10px;
  }
}
