html, body {
  font-size: 65%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: rgba(0, 0, 0, .85);
  text-decoration: none;
  transition: color .3s ease-in-out;
}
a:hover {
  color: rgba(0, 0, 0, .65);
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  width: 0;
  height: 0;
}

/* headerNav */

.p-header {
  height: 60px;
  line-height: 60px;
}
.p-nav-warp {
  font-size: 1.4rem;
}
.p-nav-warp li {
  float: left;
  list-style: none;
  transition: all .3s ease-in-out;
}
.p-nav-warp li:hover {
  background-color: rgba(0, 0, 0, .05);
}
.p-nav-warp li a {
  display: block;
  width: 80px;
  text-align: center;
  height: 100%;
  border-radius: 2px;
}
