.loginHint{
  margin: 50px auto;
  text-align: center;
}
.input{
  composes: input from './common.css';
  width: 100%;
  margin-left: 0;
}
.textarea{
  composes: input;
  box-sizing: border-box;
  margin: 30px 0;
  height: 60px;
  max-width: 100%;
}
.submit{
  composes: submit from './common.css';
  composes: button from './common.css';
  margin: 30px auto;
  display: block;
  width: 100%;
}
.addWrap{
  width: 660px;
  margin: auto;
}
.addForm{
  width: 100%;
}
