.editorWrap{
  width: 660px;
  margin: auto;
  border: 1px solid #e8edf2;
  border-radius: 5px;
}
.editorWrap > div{
  padding: 10px;
}
.editorWrap > .editorCtrl{
  border-bottom: 1px solid #e8edf2;
  background-color: rgba(0, 0, 0, .05);
}
.editorWrap > .editorCtrl > span{
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.editorWrap > .editorContent{
  outline: none;
  min-height: 300px;
}
[contentEditable=true]:empty:not(:focus):before{
  content: attr(data-placeholder);
  color: rgba(0, 0, 0, .3);
}
