.clearfix {
  composes: clearfix from './common.css';
}
.siteHeader{
  width: 100%;
  height: 60px;
  line-height: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.content{
  width: 1000px;
  margin: auto;
}
.logo{
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
  width: 200px;
  font-size: 24px;
  font-weight: normal;
}
.menu{
  width: 300px;
  float: left;
  font-size: 16px;
}
.active{
  color: #bbb;
}
.info{
  float: right;
}
.entrance{
  position: relative;
  text-align: center;
  width: 100px;
}
.toLogin{
  cursor: pointer;
}
.loginMore{
  position: absolute;
  width: 100%;
  display: none;
  padding: 10px 0;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.show{
  display: block;
}
