.popup{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, .9);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: all .2s linear;
}
.popupShow{
  opacity: 1;
  visibility: visible;
}
.popup > *{
  margin: auto;
}
.close{
  position: absolute;
  right: 0;
  cursor: pointer;
  font-size: 2rem;
}
.form{
  composes: form from './common.css';
}
.label{
  composes: label from './common.css';
  composes: clearfix from './common.css';
}
.input{
  composes: input from './common.css';
}
.span{
  composes: span from './common.css';
}
.textarea{
  composes: textarea from './common.css';
}
.submit{
  composes: submit from './common.css';
  composes: button from './common.css';
}
.upload{
  width: 660px;
  margin: auto;
}
.upload .text{
  text-align: center;
  font-size: 24px;
  display: block;
  cursor: pointer;
  border-radius: 10px;
  padding: 40px 0;
  border: 5px dashed rgba(0, 0, 0, .15);
}
.upload .file{
  width: 0;
  height: 0;
  opacity: 0;
}
.upload .submit{
  width: 100%;
  margin-top: 20px;
}
