.articleWarp{
  width: 660px;
  margin: auto;
  white-space: pre-wrap;
}
.article{

}
.articleContent{
  font-size: 16px;
  line-height: 1.8;
  color: #3d464d;
  text-align: justify;
}
.articleContent div{
  font-size: 16px;
  line-height: 1.8;
  margin: 20px auto;
  max-width: 660px!important; /* 此处设置最大宽度是应为复制的文本会带有行间样式属性，为避免影响宽度设置important */
}
.articleContent img{
  max-width: 100%;
  height: auto;
}
.header{
  composes: clearfix from './common.css';
}
.header > h3{
  font-size: 24px;
  color: #333;
  margin: 30px auto;
  font-weight: normal;
}
