.listTip{
  height: 40px;
  line-height: 40px;
  margin-top: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
.postList{
  width: 1000px;
  margin: auto;
}
.article{
  padding: 0 10px;
  margin: 30px auto;
  composes: clearfix from './common.css';
}
.header{
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.header span{
  display: inline-block;
  padding: 3px 5px;
  margin-right: 5px;
  background-color: #e8edf2;
  border-radius: 2px;
  float: left;
  font-size: 12px;
}
.header h3{
  font-size: 18px;
  color: #333;
  font-weight: normal;
  display: inline-block;
  margin: 0;
  padding: 0;
}
.content p{
  color: #999;
  font-size: 14px;
  line-height: 1.8;
  padding: 10px 0;
}
.footer{
  color: #999;
  font-size: 14px;
}
